
/* ---- reset ---- */

html {
  box-sizing: border-box;
  background: url(../assets/mockaroon.png) no-repeat center center fixed;
  background-size: cover;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;

}

/* ---- typography ---- */

body {
  color: #111;
  font-family: 'Cinzel', serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 147%;
}

h1 {
  color: #000;
  text-align: center;
  font-size: 3rem;
  font-family: 'Game of Thrones';
  src: url('../assets/Game of Thrones 2.ttf');
  margin-bottom: 3rem;
  margin-top: 0;
}

h2 {}

h3 {}

p {
  margin: 0;
}

.timer {
  display: flex;
  justify-content: center;
}

.screen p {
  color: #000;
  text-align: center;
  font-size: 1.2rem;
  margin: 2rem;
  
}

.game-screen p {
  color: #fff;
  font-size: 1rem;
}

.game-over-screen p {
  color: #fff;
  text-align: center;
  margin-top: 2rem;
}

#time {
  font-size: 3rem;
  color: #fff;
  text-shadow: -2px 4px 9px #000;
}

/* ---- layout ---- */

.screen {
  flex-direction: column;
  justify-content: space-evenly;
  width: 50vw;
  height: 85vh;
  margin: 0 auto;
  background: inherit;
  margin-top: 5rem;
}

.displayed {
  display: flex;
}

.hidden {
  display: none;
}

.instructions {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  margin: 0 2rem;
  
}

.instructions li {
  color: #000;
  border: 1px solid #000;
  padding: 1rem 2rem;
  margin-top: 1rem;
  font-size: 1.2rem;
}

/* .instructions li:hover {
  background: #000;
  color: #fff;
  border: 1px solid #fff;
} */

.instructions li:last-child {
  margin-bottom: 1rem;
}

.character-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.game-screen {
  flex-direction: row;
  justify-content: center;
  margin-top: 4rem;
}

/* ---- components ---- */

.screen button {
  margin: 0 auto;
  width: 200px;
  background: #000;
  color: #fff;
  font-family: 'Game of thrones';
  src: url('../assets/Game of Thrones 2.ttf');
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  cursor: pointer;
}

.screen button:hover {
  margin: 0 auto;
  width: 200px;
  background: #000;
  color: #fff;
  font-family: 'Game of thrones';
  src: url('../assets/Game of Thrones 2.ttf');
  font-size: 1.5rem;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 30px #000;
}

#canvas {
  background: #000;
  box-shadow: 2px 2px 60px #000;
}

.game-over-screen img {
  width: 60%;
  margin: 2rem auto;
}

.game-over-screen p {
  font-size: 2rem;
  color: #000;
  line-height: 3rem;
}

.game-over-screen button {
  margin: 0 auto;
  width: 200px;
  background: #000;
  color: #fff;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  font-family: 'Game of thrones';
  src: url('../assets/Game of Thrones 2.ttf');
  font-size: 1rem;
  cursor: pointer;
}

.game-over-screen button:hover {
  margin: 0 auto;
  width: 200px;
  background: #000;
  color: #fff;
  padding: 1rem 1rem;
  margin-bottom: 2rem;
  font-family: 'Game of thrones';
  src: url('../assets/Game of Thrones 2.ttf');
  font-size: 1rem;
  cursor: pointer;
  box-shadow: 0px 2px 30px #000;
}

.timer {
  position: absolute;
  background: no-repeat center/100% url(../assets/stark-shield.png);
  width: 18%;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  left: 39%;
  top: 70%;
}

.timer-hit {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
}

.ldBar {
  z-index: 1;
  position: absolute;
}

.ldBar-label {
  display: none;
}

/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { 

    .screen {
      height: 90vh;
    }

    .timer {
      width: 11%;
      left: 42%;
    }

}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
}


/* ----------- Projector ----------- */
@media screen 
  and (min-device-width: 1000px) 
  and (max-device-width: 1280px) 
  and (-webkit-min-device-pixel-ratio: 1) {

  .screen {
    height: 90vh;
  }

  .timer {
    width: 12%;
    left: 42%;
  }
  
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 

  .screen {
    height: 90vh;
  }

  .timer {
    width: 40%;
    height: 50%;
    left: 72%;
    top: 70%;

  }

}
